.board-item {
    min-height: 113px;
    margin: 5px;
    display: block;
    background: #1E88E5;
    color: #fff;
    padding: 10px 34px 10px 10px;
    transition: transform 0.5s, box-shadow 0.5s, background 0.3s;
    position: relative;

    > a {
        color: #fff;
        text-decoration: none;
        min-height: 100px;
    }

    &:not(.active):hover {
        text-decoration: none;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        background: #1565C0;
    }

    .board-owner {
        font-size: 12px;
        color: #efefef;
    }

    &.new-board {
        cursor: pointer;
        position: relative;

        &:hover {
            &::before {
                background: #1565c0;
            }
        }

        &::before {
            background: #1e88e5;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::after {
            content: '+';
            font-size: 4em;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &.active {
            cursor: default;

            &::before, &::after {
                display: none;
            }
        }
    }
}
