$column-width: 300px;

@mixin column-border {
    border-bottom: 1px solid #d6d6d6;
}

.dashboard{
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    background: #0079BF;
    //@include align-items(stretch);

    .dashboard-header{
        padding: 15px;
        font-size: 18px;
        color: #fff;
        @include flex(0 1)
    }

    .column-container{
        @include flex(1 1);
        @include flexbox;
        @include flex-wrap(nowraw);
        @include align-items(flex-start);
        margin: 10px 10px;
        border-radius: 10px;
        overflow-x: auto;
        overflow-y: hidden;

        .column-element:first-child{
            margin-left: 0;
        }

        .new-column{
            min-width: $column-width;
            max-width: $column-width;
            margin: 10px;
            background: #efefef;
            padding: 5px;
            border-radius: 3px;
        }

        .column{
            min-width: $column-width;
            max-width: $column-width;
            margin: 10px;
            background: #efefef;
            border-radius: 3px;
            max-height: calc(100% - 20px);
            float: left;
            overflow-y: auto;
            position: relative;
            .column-title{
                font-weight: 700;
                line-height: 30px;
                @include column-border;
                padding: 5px 34px 5px 5px;
                display: block;
                text-decoration: none;
                color: #333;
                font-size: 1.2em;
            }
            .ticket-container{
                @include column-border;
                overflow: auto;
                padding: 10px;
                .ticket {
                    background: #fff;
                    border-radius: 4px;
                    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, .5);
                    color: #333;
                    display: block;
                    font-size: 1.1em;
                    padding: 10px;
                    text-decoration: none;
                    &:not(:last-of-type) {
                        margin-bottom: 15px;
                    }
                    &:hover {
                        background-color: #f7f8f8;
                    }
                }
            }
            .new-ticket {
                .new-ticket-form {
                    padding: 15px 10px 0;
                    overflow: hidden;
                    background: #fff;
                    @include column-border;
                }
                .btn-wrap {
                    padding: 7px 5px;
                    &:not(.multiple):hover {
                        background: rgba(0, 0, 0, .1);
                    }
                    &.multiple {
                        padding: 10px;
                    }
                    .btn.text {
                        background: none;
                        border: none;
                        border-radius: 0;
                        display: block;
                        color: #999;
                        padding: 0;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            .delete-column {
                background: #efefef;
                border-radius: 50%;
                box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, .75);
                cursor: pointer;
                height: 20px;
                line-height: 1;
                position: absolute;
                right: -7px;
                top: -7px;
                visibility: hidden;
                width: 20px;
                &::after {
                    content: '\d7';
                    font-size: 21px;
                    left: 50%;
                    opacity: .2;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                .delete-column {
                    visibility: visible;
                }
            }
        }
    }
}

.flex-layout{
    & > .content{
        height: calc(100vh - 50px);
    }

}
