@import "./flex-mixins";
@import './landing';
@import './boards';
@import '~bootstrap/dist/css/bootstrap.css';
@import './dashboard';

html {
    margin: 0;
    padding: 50px 0 0 0;
}

body {
    display: flex;
    margin: 0;
    min-height: calc(100vh - 50px);
    padding: 0;
    background: #ececec;
}

#content {
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.auth-form {
    margin: 50px 0;
}

.header-footer-layout{
    & > div.content{
        min-height: calc(100vh - 210px);
    }
}

footer {
    margin-top: auto;
}

.input-group {
    .form-control {
        &:focus {
            z-index: 2
        }
    }
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.remove-icon {
    cursor: pointer;
    opacity: .5;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: all .3s;
    z-index: 10;
    &:hover {
        opacity: 1;
        transform: rotate(90deg);
    }
}

.error-typing {
    color: #a94442;
    display: block;
    width: 100%;
}

.right {
    float: right;
}
